<footer class="footer">
    <div class="container">
        <ul class="nav nav-pills nav-justified">
            <li class="nav-item">
                <a class="nav-link " href="/">
                    <span>
                        <i class="nav-icon bi bi-house"></i>
                        <span class="nav-text">Home</span>
                    </span>
                </a>
            </li>
           
            <li class="nav-item center-item">
                <a class="nav-link" href="{% url 'wallet' %}">
                    <span>
                        <i class="nav-icon bi bi-wallet2"></i>
                        <span class="nav-text">Cart</span>
                        {% comment %} <span class="countercart">3</span> {% endcomment %}
                    </span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'product' %}">
                    <span>
                        <i class="nav-icon bi bi-bag-check"></i>
                        <span class="nav-text">Stats</span>
                    </span>
                </a>
            </li>
            
           
        </ul>
    </div>
</footer>