{% extends 'Base/base.html' %}
{% block main-content %}
<div class="row justify-content-between wizard-wrapper mb-4 shadow-sm ">

  <table class="table">
    <center>
      <h1>Coupon Gift</h1>
    </center>
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Coupon Code</th>
        <th scope="col">Amount</th>
        <td scope="col">Date</td>
        <td scope="col">Last Updated</td>
        <td scope="col">Status</td>
      </tr>
    </thead>
    <tbody>
        {% for i in user_gift %}
      <tr>
        
        <th scope="row">{{forloop.counter}}</th>
        <td>{{i.coupon_code}}</td>
        <td>{{i.gift_amt}}</td>
        <td>{{i.date}}</td>
        <td>{{i.last_updated}}</td>
        <td>{{i.coupen_request}}</td>
        
        <td></td>
    </tr>
    {% endfor %}
    
     
    </tbody>
  </table>
</div>


{% endblock main-content %}