{% extends 'Base/base.html' %}
{% load static %}
{% block main-content %}




<div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto">
        

        <figure class="overflow-hidden rounded text-center">
            <img src="{% static 'assets/img/banner.jpg' %}" alt="" class="mw-100 mx-auto">
        </figure>

    
      
    


        <h5>To be the global pioneer in the era of intelligent robots        </h5>
        <p class="text-opac">Shenzhen Han's Robot Co., Ltd. is a national high-tech enterprise invested in and established by Han's Laser Technology Industry Group Co., Ltd. (stock name: Han’s Laser, stock code: 002008), and incubated based on more than 100 people from the R&D team of Han's Motor Robotics Research Institute. The company was established in September 2017 and its production and R&D base are located in Shenzhen City and Foshan City, with subsidiaries in Tianjin, Wuxi and Chengdu City. Han's Robot is dedicated to the development, promotion and application of intelligent robots in industry, healthcare, logistics, services and so on, becoming the global leader in the era of intelligent robots.            .</p>

        <div class="row">
            <div class="col-12">
                <figure class="overflow-hidden rounded text-center">
                    <img src="{% static 'assets/img/banner_2.png' %}" alt="" class="w-100 mx-auto">
                </figure>
            </div>
          
        </div>




  
        



        









        

       
        

       
      
        
    </div>


    
</div>





{% endblock main-content %}