{% extends 'Base/base.html' %}
{% load static %}
{% block main-content %}




<div class="row">
    <div class="col-12 col-md-10 col-lg-8 mx-auto">
        

        <figure class="overflow-hidden rounded text-center">
            <img src="{% static 'assets/img/news3.jpg' %}" alt="" class="mw-100 mx-auto">
        </figure>

    
      
    


        <h5>Best class template with details</h5>
        <p class="text-opac">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book.</p>

        <div class="row">
            <div class="col-12">
                <figure class="overflow-hidden rounded text-center">
                    <img src="{% static 'assets/img/news1.jpg' %}" alt="" class="w-100 mx-auto">
                </figure>
            </div>
          
        </div>




  
        



        









        

       
        

       
      
        
    </div>


    
</div>





{% endblock main-content %}